<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610010316969-jkl1i1dp2vbbf478bs51evm459tu1p85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610010316969-jkl1i1dp2vbbf478bs51evm459tu1p85</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpYuBNQot923G5KV08tDYLUB1wWYnbRw</string>
	<key>GCM_SENDER_ID</key>
	<string>610010316969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-ea1e6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-ea1e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610010316969:ios:41d4326127b972df27e9b8</string>
</dict>
</plist>